<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>StudentList</title>
</head>
<body>
	<div>Kasvit</div>
	<br>
	<table>
		 <tr>
			<th>Laji</th>
			<th>Kastelun tarve</th>
			<th>Valon tarve</th>
		</tr>                                              
		<tr th:each="plant : ${plants}">
			<td th:text="${plant.name}"></td>
			<td th:text="${plant.watering}"></td>
			<td th:text="${plant.light}"></td>
		</tr>
	
	</table>	
	
	</br>   
	<a href="http://localhost:8080/index">Back to index.html</a> </br>
</body>
</html>